
.contact-subscribe {
    padding: 60px 170px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
  }
  .subscribe-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .subscribe-page h3 {
    width: 474px;
    height: 147px;
    flex-shrink: 0;
    color: #000;
    font-size: 30px;
    font-weight: 700;
  }
  .subscribe-page h3 span {
    color: #0336ff;
  }
  .subscribe-page .subscribe-input {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .subscribe-page .subscribe-input input {
    width: 330px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    background: #fff;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
  }
  .subscribe-page .subscribe-input button {
    width: 201px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0336ff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  